@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c7c7c7;
  --foreground: #1c1c1c;
}

.dark {
  --background: #1c1c1c;
  --foreground: #c7c7c7;
}

html, body {
  @apply transition-colors duration-300;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
